.main {
    display: flex;
    flex-direction: column;
}

.labels {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.rangeInputs {
    display: flex;
    flex-direction: column;
}
 
.textInputs {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 50px;
}

.rows {
    display: flex;
    width: 330px;
}

.label {
    margin-top: 10px;
}
.rangeInput {
    margin-top: 10px;
}
.textInput {
    margin-top: 7px;
}

.r {
    color: red;
    font-weight: bold;
}

.g {
    color: green;
    font-weight: bold;
}
.b {
    color: blue;
    font-weight: bold;
}

h1 {
    display: flex;
}

.color {
    margin-top: 30px;
    width: 330px;
    height: 200px;
    background-color: green;
    border: 1px solid black;
}

.hex {
    font-weight: bold;
    margin-top: 30px;
}
